@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
* {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  margin: 0 auto;
}
.sidebar {
  margin: 0;
  padding: 0;
  top: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar h2 {
  padding: 16px;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.tombol {
  display: none;
}
/* Active/current link */
.sidebar a.active {
  background-color: #4188f4;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #4188f4;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .tombol {
    display: block;
  }
}
